* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
  background-color: white;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-image: linear-gradient(   #b0c4de,#add8e6, #f0ffff);
    padding: 25px 10px 15px;
    border-bottom: 3px solid #c4e8fd;
    position: relative;
}

.cinnamorol-header{
width: 120px;
display: block;
margin: 0 auto;
}

.titulo{
    color: #155177;
}

nav {
  margin-top: 5px;
}

nav ul{
    list-style: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #f0ffff;
    transition: 0.5s;
    text-align: center;
    justify-content: space-between;
}

nav a:hover{
    background-color: #45889e;
    color: aliceblue;
}
.botoes{
    color: #155177;
}

.container {
  background-image: linear-gradient(   #9df7ff,#bafcff, #ffffff);
  width: 500px;
  margin: 0 auto;
  border: 5px solid #15757789;
  border-radius: 10px;
  margin-top: 50px;
  color: #155177;
 text-align: center;
}

.importancia {
  background-image: linear-gradient(   #9df7ff,#bafcff, #ffffff);
  width: 500px;
  margin: 0 auto;
  border: 5px solid #15757789;
  border-radius: 10px;
  margin-top: 50px;
  color: #155177;
 text-align: center;
}

footer{
   background-image: linear-gradient(   #b0c4de,#add8e6, #f0ffff);
   color: #155177;
   text-align: center;
   font-size: 20px;
   padding: 50px;
   bottom: 0;
   width: 100%;
   margin-top: 80px;
   font-weight: bold;
}

footer p{
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    border: 1px solid #15757789;
    border-radius: 10px;
    color: #155177;
    padding: 10px;
}

footer a:hover{
   background-color: #45889e;
   color: aliceblue;
   transition: transform 0.5s ease;
}

/* página sobre */

.psicologia {
    border-radius: 20px;
    width: 80rem;
    height: 20rem;
    margin: 5rem;
}

.titulo-apresentacao {
    display: flex;
    text-align: center;
    color: #155177;
    font-size: 10px;
    flex-direction: column;
    align-items: center;
}

.apresentacao {
    background-image: linear-gradient(   #9df7ff,#bafcff, #ffffff);
    width: 500px;
    margin: 0 auto;
    border: 5px solid #15757789;
    border-radius: 10px;
    margin-top: 50px;
    color: #155177;
    text-align: center;
}

/* página entrevista */

.container-entrevista {
    margin: 0 auto;
    margin-top: 50px;
    color: #155177;
    text-align: center;
}

.perguntas {
    background-image: linear-gradient(   #9df7ff,#bafcff, #ffffff);
    width: 50rem;
    margin: 0 auto;
    border: 5px solid #15757789;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    color: #155177;
}

.perguntas:hover{
    transition: all 0.3s ease;
    background-image: linear-gradient(   #69a0dbc7,#429bc1, #356fa9);
    color: #fdffff;
}
